<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ title }}</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="pagePiling.js plugin by Alvaro Trigo." />
	<meta name="keywords"  content="pile,piling,piling.js,stack,pages,scrolling,stacking,touch,fullpile,scroll,plugin,jquery" />
	<meta name="Resource-type" content="Document" />

	<link rel="stylesheet" type="text/css" href="/static/css/jquery.pagepiling.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/examples.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script type="text/javascript" src="/static/js/jquery.pagepiling.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			* Plugin intialization
			*/
	    	$('#pagepiling').pagepiling({
	          	direction: 'horizontal',
	    		menu: '#menu',
	    		anchors: [ {{anchorLinks|safe}} ],
			    sectionsColor: [ {{slideColors|safe}} ],
			    navigation: {
			    	'position': 'right',
                                'tooltips': [{{slideTooltips|safe}}]
			   	},
			    afterRender: function(){
			    	$('#pp-nav').addClass('custom');
			    },
			    afterLoad: function(anchorLink, index){
			    	if(index>1){
			    		$('#pp-nav').removeClass('custom');
			    	}else{
			    		$('#pp-nav').addClass('custom');
			    	}
			    }
			});
	    });
    </script>
</head>
<body>
	<ul id="menu">
                <li id="logoBox" style="float:left;margin-left:50px;margin-top:10px;padding:10px;background:none;">{{title}}</li>
		{% for sliderLink in sliderLinks %}
                        {{ sliderLink|safe }}
                {% endfor %}
	</ul>

        
	<div id="pagepiling">
	    {% for page in pages %}
            <div class="section" >
                    <div style="{{ page.style|safe }}">
                        {{ page.text|safe }}
                    </div>
            </div>
            {% endfor %}
	</div>

</body>
</html>
